#title {
  color:transparent;
  font-family: 'Archivo Black', sans-serif;
  font-size: 65px;
  font-stretch: extra-expanded;
  font-weight: 200;
  text-align: center;
  color:#ff7e30;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
}
#title:hover {
    color: transparent;
    -webkit-text-stroke-width: 1.95px; 
    -webkit-text-stroke-color: #ff7e30;
}


#subtitle{
  word-wrap: break-word;
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  -webkit-text-stroke-width: 1.5px; 
  -webkit-text-stroke-color: #ff7e30;
  font-size: 22px;
  font-style: bold;
  text-align: center;
}

.row{
    margin-top: 1.5em; 
    margin-bottom: 1.5em;
}

.row .col{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#login-btn{
  border-radius: 20px;
  background-color: #1DB954;
  color:white;
  font-family: var(--bs-font-sans-serif);
  font-size: 15px;
}

@keyframes animated-text{
  from{height: 0;}
  to{height: 472px;}
}

.section{
  height: 100vh;
}
.section-first{
  height: 90vh;
}
