.title {
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  font-size: 65px;
  font-weight: 100;
  text-align: center;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
  -webkit-text-size-adjust: 100%;

  /* margin-top: 20vh; */
  padding-top: 2%;
  /* padding: bottom 10vh;; */

}

#title1{
  color:#ff7e30;
}

#subtitle{
  color:#ff7e30;
  font-family: var(--bs-font-sans-serif);
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #ff7e30;
  font-size: 4vh;
  font-style: bold;
  position: relative;
  text-align: center;
}

.row{
    margin-top: 1.5em; 
    margin-bottom: 1.5em;
    padding: bottom 10vh;;

}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}


.row .col{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.one-track {
  display: inline-flex;
  margin: 2vh;
  max-width: 100%;
}

#homepage {
  overflow: hidden;
  max-width: 100%;
}


.photo-wrapper {
  overflow: hidden;
  width:100%;
  position: relative;
  top: 50%;
  margin-bottom: 8vh;
}

.home-photo {
  width: 35vw;
  margin: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}

#login-btn{
  border-radius: 20px;
  background-color: #1DB954;
  color:white;
  font-family: var(--bs-font-sans-serif);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.2px; 
  /* font-size: 15px;
  padding-right: 25px; */
}

#discobutton{
  padding-left: 0; padding-right: 0;
     border-left-width: 0; border-right-width: 0;
     white-space: nowrap;
     overflow: hidden;
     width:0px;
}

@keyframes animated-text{
  from{height: 0;}
  to{height: 472px;}
}

.section{
  height: 100vh;
}
.section-first{
  height: 90vh;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover {
  background-color: #1DA1F2;
}

.social-network a.icoInstagram:hover {
  background-color: #C13584;
}

.social-network a.icoGithub:hover {
  background-color: #6f42c1;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoGithub:hover i
 {
  color: #fff;
}



.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 5px auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 2.5vh;
  height: 2.5vh;
  font-size: 1.5vh;
}

.social-circle li i {
  margin: 0;
  line-height: 2.5vh;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.footer-titles p:hover{
  color:blue
}

#mode-button{
  -webkit-appearance: none;
  color: #ff7e30;
}