/* @import url(//fonts.googleapis.com/css?family=Open+Sans); */
* {
  margin: 0;
  padding: 0;
  /* border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; */
}

html, body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

body {
  min-height: 100%;
  width: 100%;
  /* background-color: white; */
}

#login {
  /* position:fixed; */
  margin: 0;
}

#loggedin {
  /* position: fixed; */
  margin: 0;
}

.orange-back {
  background-color: #ff7e30;
}

h1 {
  color:transparent;
  font-family: 'Archivo Black', sans-serif;
  font-size: 65px;
  font-stretch: extra-expanded;
  font-weight: 200;
  text-align: center;
  color:#ff7e30;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
}
h1:hover {
  color: transparent;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
  /*-webkit-text-stroke-color:white*/

}

#first-row {
  margin: 0 auto;
}

#franky {
  position: relative;
  /* top: -30px; 
  left: 20px;
  height: 350px;
  width: 350px; */
  /* width:100%; */
  height: 100%;
  z-index: -1;
}


#franky2 {
  position: relative;
  top: -30px; 
  left: 0px;
  height: 350px;
  width: 350px;
  z-index: -1;
}

#subtitle {
  /* width: 100vw; */
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-left:60px;
  font-style: 
  bold;
  text-align: center;
  -webkit-text-stroke-width: 1.5px; 
  -webkit-text-stroke-color: #ff7e30;
  /* position: absolute;  */
}

#franky3 {
  position: relative;
  top: -30px; 
  left: 430px;
  height: 350px;
  width: 350px;
  z-index: -1;
}



h5 {
  color:#ff7e30;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #ff7e30;
  font-family: 'Archivo-Black', sans-serif;
  font-size: 40px;
  font-style: bold;
  text-align: left;
  position: absolute; 
  top: 130px; 
  left: 100px;
}

#saved-res {
  margin-top: 190px; 
  margin-left: 50px;
  text-align: left;
  font-size: 40px;
  color:#ff7e30;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #ff7e30;

  font-family: 'Archivo', sans-serif;
}


#login-btn {
  position: relative;
  top: 50%;
  margin-left: 350px;
  margin-top: -150px;
}

.button {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* width: 50px; */
  color: initial;
  position: absolute;
  padding: 0px;
  border-radius: 90px;
  padding: 20px 80px;
  opacity: 1;
  background-color: #1ED761;
}

.button:hover{
  background-color: #17b04e;
}

.button>img {
  object-fit: cover;
  display: flex;
  position: absolute;
  left: 25px;
  top: 15px;
  width: 35px;
  height: 35px;
}

.button>h3{
  font-size: 15px;
  margin-top: 5px;
  opacity: 1;
  font-family: var(--bs-font-sans-serif);
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-right: auto;
  
}

/* .image-cropper {
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
} */

/* img {
  width: 50px;

} */
.rounded {
  clip-path: circle();
  width: 50px;
  position: absolute;
  margin-top: 20px;
  margin-left: 0px;

}

#top-msg {
  color:#ff7e30;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: #ff7e30;
  font-family: 'Archivo-Black', sans-serif;
  font-size: 40px;
  font-style: bold;
  text-align: left;
  position: absolute; 
  margin-top: 250px; 
  left: 100px;
}

@keyframes animated-text{
  from{height: 0;}
  to{height: 472px;}
}

/* .light-mode {
  background-color: black;
  color:white;
} */