/* @import url(//fonts.googleapis.com/css?family=Open+Sans); */
* {
  margin: 0;
  padding: 0;
  /* border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: white;
}

#login {
  /* position:fixed; */
  margin: 0;
}

#loggedin {
  /* position: fixed; */
  margin: 0;
}

h1 {
  width: 100vw;
  color:transparent;
  font-family: 'Archivo Black', sans-serif;
  font-size: 65px;
  font-stretch: extra-expanded;
  font-weight: 100;
  text-align: center;
  color:transparent;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
  margin-left: 40px;
}

#franky {
  position: relative;
  top: -30px; 
  left: 20px;
  height: 350px;
  width: 350px;
  z-index: -1;
}

#franky2 {
  position: relative;
  top: -30px; 
  left: 0px;
  height: 350px;
  width: 350px;
  z-index: -1;
}

h2 {
  width: 100vw;
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  font-style: bold;
  text-align: left;
  position: absolute; 
  top: 90px; 
  left: 750px;
}

#franky3 {
  position: relative;
  top: -30px; 
  left: 430px;
  height: 350px;
  width: 350px;
}



h4 {
  width: 100vw;
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  font-size: 35px;
  font-style: bold;
  text-align: left;
  position: absolute; 
  top: 50px; 
  left: 50px;
}

#saved-res {
  margin-top: 150px; 
  margin-left: 70px;
  font-size: 20px;
  color:white;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;

  font-family: 'Archivo', sans-serif;
}


#login-btn {
  position: relative;
  top: 200px;
  left: 600px;
}

.button {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  width: 50px;
  color: initial;
  position: absolute;
  padding: 0px;
  border-radius: 90px;
  padding: 20px 80px;
  opacity: 1;
  background-color: #1ED761;
}

.button>img {
  object-fit: cover;
  display: flex;
  position: absolute;
  left: 15px;
  top: 10px;
  width: 35px;
  height: 35px;
}

.button>h3{
  font-size: 14px;
  opacity: 1;
  font-family: 'Archivo', sans-serif;
  color: white;
  text-align: center;
  margin-left: -15px;
  margin-right: auto;
  
}



