/* @import url(//fonts.googleapis.com/css?family=Open+Sans); */
* {
  margin: 0;
  padding: 0;
  /* border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; */
}

html, body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
}

body {
  min-height: 100%;
  width: 100%;
  /* background-color: white; */
}

#login {
  /* position:fixed; */
  margin: 0;
}

#loggedin {
  /* position: fixed; */
  margin: 0;
}

h1 {
  color:transparent;
  font-family: 'Archivo Black', sans-serif;
  font-size: 65px;
  font-stretch: extra-expanded;
  font-weight: 100;
  text-align: center;
  color:transparent;
  -webkit-text-stroke-width: 1.95px; 
  -webkit-text-stroke-color: #ff7e30;
}
h1:hover {
  color:#ff7e30;
  /*-webkit-text-stroke-color:white*/

}

#franky {
  position: relative;
  /* top: -30px; 
  left: 20px;
  height: 350px;
  width: 350px; */
  /* width:100%; */
  height: 100%;
  z-index: -1;
}


#franky2 {
  position: relative;
  top: -30px; 
  left: 0px;
  height: 350px;
  width: 350px;
  z-index: -1;
}

#subtitle {
  /* width: 100vw; */
  color:#ff7e30;
  font-family: 'Archivo', sans-serif;
  font-size: 30px;
  font-style: bold;
  text-align: left;
  /* position: absolute;  */
}

#franky3 {
  position: relative;
  top: -30px; 
  left: 430px;
  height: 350px;
  width: 350px;
  z-index: -1;
}



h4 {
  width: 100vw;
  color:#ff7e30;
  /* font-family: 'Archivo', sans-serif; */
  font-family:var(--bs-font-sans-serif);
  font-size: 35px;
  font-style: bold;
  text-align: left;
  position: absolute; 
  top: 50px; 
  left: 50px;
}

#saved-res {
  margin-top: 150px; 
  margin-left: 70px;
  font-size: 20px;
  color:white;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black;

  font-family: 'Archivo', sans-serif;
}


#login-btn {
  position: relative;
  top: 50%;
}

.button {
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  /* width: 50px; */
  color: initial;
  position: absolute;
  padding: 0px;
  border-radius: 90px;
  padding: 20px 80px;
  opacity: 1;
  background-color: #1ED761;
}

.button:hover{
  background-color: #17b04e;
}

.button>img {
  object-fit: cover;
  display: flex;
  position: absolute;
  left: 25px;
  top: 15px;
  width: 35px;
  height: 35px;
}

.button>h3{
  font-size: 15px;
  margin-top: 5px;
  opacity: 1;
  font-family: var(--bs-font-sans-serif);
  color: white;
  text-align: center;
  margin-left: 15px;
  margin-right: auto;
  
}

#japanese-vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 200%;
    font-weight: 150%;
    margin-top: 75px;
    font-style: italic;
    /* animation: type 4s steps(60, end); */
    white-space: nowrap;
    overflow: hidden; 
    animation: animated-text 4s steps(29,end) 1s 1 normal both;
    -webkit-text-stroke: 1px red;
  -webkit-text-fill-color: black;
}

#japanese-vertical:hover{
  -webkit-text-stroke: 1px red;
  -webkit-text-fill-color: orangered;
}

@keyframes animated-text{
  from{height: 0;}
  to{height: 472px;}
}

/* .light-mode {
  background-color: black;
  color:white;
} */



.loading {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 100px;
}

.a {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}

.b {
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.c {
  width: 150px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.d {
  margin-left: 5px;
  width: 20px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.e {
  margin-left: 5px;
  width: 20px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.f {
  margin-left: 5px;
  width: 15px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.g {
  margin-left: 7px;
  width: 11px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.h {
  margin-left: 8px;
  width: 10px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

.i {
  margin-left: 10px;
  width: 8px;
height: 100px;
-webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
     -o-transform: skew(20deg);
}

/*#########################################*/
/*Section for all the animation stuff*/
/*#########################################*/

.a {
    -webkit-animation: aniA 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniA 6s infinite;
}

.b {
  -webkit-animation: aniB 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniB 6s infinite;
    -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.3s;
}

.c {
  -webkit-animation: aniC 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniC 6s infinite;
    -webkit-animation-delay: 0.6s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.6s;
}

.d {
  -webkit-animation: aniD 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniD 6s infinite;
    -webkit-animation-delay: 0.9s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.9s;
}

.e {
  -webkit-animation: aniE 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniE 6s infinite;
    -webkit-animation-delay: 1.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.2s;
}

.f {
  -webkit-animation: aniF 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniF 6s infinite;
    -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.5s;
}

.g {
  -webkit-animation: aniG 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniG 6s infinite;
    -webkit-animation-delay: 1.8s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.8s;
}

.h {
  -webkit-animation: aniH 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniH 6s infinite;
    -webkit-animation-delay: 2.1s; /* Safari 4.0 - 8.0 */
    animation-delay: 2.1s;
}

.i {
  -webkit-animation: aniI 6s infinite; /* Safari 4.0 - 8.0 */
  animation: aniI 6s infinite;
    -webkit-animation-delay: 2.4s; /* Safari 4.0 - 8.0 */
    animation-delay: 2.4s;
}
@-webkit-keyframes aniA {
    0% {background-color: white;}
    50% {background-color: #0002EC;}
    100% {background-color: white;}
}
@-webkit-keyframes aniB {
    0% {background-color: white;}
    50% {background-color: #EA00EB;}
    100% {background-color: white;}
}
@-webkit-keyframes aniC {
    0% {background-color: white;}
    50% {background-color: #E70000;}
    100% {background-color: white;}
}
@-webkit-keyframes aniD {
    0% {background-color: white;}
    50% {background-color: #E70000;}
    100% {background-color: white;}
}
@-webkit-keyframes aniE {
    0% {background-color: white;}
    50% {background-color: #ED8605;}
    100% {background-color: white;}
}

@-webkit-keyframes aniF {
    0% {background-color: white;}
    50% {background-color: #ED8605;}
    100% {background-color: white;}
}

@-webkit-keyframes aniG {
    0% {background-color: white;}
    50% {background-color: #ED8605;}
    100% {background-color: white;}
}

@-webkit-keyframes aniH {
    0% {background-color: white;}
    50% {background-color: #ED8605;}
    100% {background-color: white;}
}

@-webkit-keyframes aniI {
    0% {background-color: white;}
    50% {background-color: #ED8605;}
    100% {background-color: white;}
}