.loading {
    display: flex;
    /* margin: auto; */
    width: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .a {
    width: 150px;
    height: 100px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .b {
    width: 150px;
    height: 100px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    margin-left: 0px;
    margin-right: 0px;
  }
  .c {
    width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-left: 0px;
       margin-right: 0px;
  }
  
  .d {
    margin-left: 5px;
    width: 20px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  .e {
    margin-left: 5px;
    width: 20px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  .f {
    margin-left: 5px;
    width: 15px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  .g {
    margin-left: 7px;
    width: 11px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  .h {
    margin-left: 8px;
    width: 10px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  .i {
    margin-left: 10px;
    width: 8px;
  height: 100px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
       margin-right: 0px;
  }
  
  /*#########################################*/
  /*Section for all the animation stuff*/
  /*#########################################*/
  
  .a {
      -webkit-animation: aniA 6s infinite; /* Safari 4.0 - 8.0 */
      animation: aniA 6s infinite;
  }
  
  .b {
    -webkit-animation: aniB 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniB 6s infinite;
      -webkit-animation-delay: 0.3s; /* Safari 4.0 - 8.0 */
      animation-delay: 0.3s;
  }
  
  .c {
    -webkit-animation: aniC 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniC 6s infinite;
      -webkit-animation-delay: 0.6s; /* Safari 4.0 - 8.0 */
      animation-delay: 0.6s;
  }
  
  .d {
    -webkit-animation: aniD 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniD 6s infinite;
      -webkit-animation-delay: 0.9s; /* Safari 4.0 - 8.0 */
      animation-delay: 0.9s;
  }
  
  .e {
    -webkit-animation: aniE 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniE 6s infinite;
      -webkit-animation-delay: 1.2s; /* Safari 4.0 - 8.0 */
      animation-delay: 1.2s;
  }
  
  .f {
    -webkit-animation: aniF 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniF 6s infinite;
      -webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
      animation-delay: 1.5s;
  }
  
  .g {
    -webkit-animation: aniG 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniG 6s infinite;
      -webkit-animation-delay: 1.8s; /* Safari 4.0 - 8.0 */
      animation-delay: 1.8s;
  }
  
  .h {
    -webkit-animation: aniH 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniH 6s infinite;
      -webkit-animation-delay: 2.1s; /* Safari 4.0 - 8.0 */
      animation-delay: 2.1s;
  }
  
  .i {
    -webkit-animation: aniI 6s infinite; /* Safari 4.0 - 8.0 */
    animation: aniI 6s infinite;
      -webkit-animation-delay: 2.4s; /* Safari 4.0 - 8.0 */
      animation-delay: 2.4s;
  }
  @keyframes aniA {
      0% {background-color: white;}
      50% {background-color: #0002EC;}
      100% {background-color: white;}
  }
  @keyframes aniB {
      0% {background-color: white;}
      50% {background-color: #EA00EB;}
      100% {background-color: white;}
  }
  @keyframes aniC {
      0% {background-color: white;}
      50% {background-color: #E70000;}
      100% {background-color: white;}
  }
  @keyframes aniD {
      0% {background-color: white;}
      50% {background-color: #E70000;}
      100% {background-color: white;}
  }
  @keyframes aniE {
      0% {background-color: white;}
      50% {background-color: #ED8605;}
      100% {background-color: white;}
  }
  
  @keyframes aniF {
      0% {background-color: white;}
      50% {background-color: #ED8605;}
      100% {background-color: white;}
  }
  
  @keyframes aniG {
      0% {background-color: white;}
      50% {background-color: #ED8605;}
      100% {background-color: white;}
  }
  
  @keyframes aniH {
      0% {background-color: white;}
      50% {background-color: #ED8605;}
      100% {background-color: white;}
  }
  
  @keyframes aniI {
      0% {background-color: white;}
      50% {background-color: #ED8605;}
      100% {background-color: white;}
  }
  
  #loading{
    max-width: 600px;
  }