/* #logged-in {
    background-color:#F3FF9A;
    height: 800px;
    width: 100%;
    overflow-y: scroll;
} */

#intro {
    /* height: 100%; */
    background-color: #a4eeac;

    /* overflow-y: scroll;
    overflow-x: hidden; */
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    margin-top: -8vh;
}

#first-name {
  font-size:6.7vh;
  font-style:bold;
  font-weight:700;
  display:inline; 
  margin-right:1.3vh;
  /* padding-bottom: 1vh; */
  line-height: 1.2;
}

#tracks-niche{
  background-color: #ffaf81;
  /* font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-style: bold;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;*/
    max-width: 90%;
}

#thanks{
  background-color: #96c8d9;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 90%;
}

#artists{
  background-color: #EFB9C5;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 90%;
}


#overlap-intro-msg {
    color:#312E50;
    -webkit-text-stroke-width: 1.4px; 
    -webkit-text-stroke-color: #312E50;
    font-family: 'Archivo', sans-serif;
    font-size: 5vh;
    font-style: bold;
    text-align: left;
    /* margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px; */
}

* {
    margin: 0;
    padding: 0;
}
  #pagepiling {
    text-align: left;
  }

  #pp-nav li .active span,
  .pp-slidesNav .active span {
    background: rgb(255, 255, 255) !important; /*To change the active navigation bullets inner color*/
  }
  .sec1 {
    background-color: #a4eeac;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .sec2 {
    background-color: #C7CAFF;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .sec3 {
    background-color:#fffaae;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .sec4 {
    background-color: #ffaf81;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .sec5 {
    background-color: #EFB9C5;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .sec6 {
    background-color:#96c8d9;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }