#tracks-niche{
    max-width: 100%;
    overflow-y: hidden;
    text-align: left;
    color:#312E50;
}

#track-name {
    color:#312E50;
    font-size: 2.7vh;
    font-weight: bold;
    margin-left: 1.5vh;
    margin-right: 3vh;
    margin-top: -6vh;
}

#track-artist {
    font-size: 2.3vh;
    text-align: left;
    font-weight: normal;
}