#save-play-btn {
    background-color: transparent;
    border-color: transparent;
    color:#312E50;
    font-size: 3.5vh;
    font-family: 'Archivo';
    outline:none;
    
}

#button-wrapper {
    width: 20%;
    display: inline;
    align-self: center;
}

#save-play-btn:hover {
    text-decoration:underline;
}

#slash {
    display: inline;
}

#success-save,
#slash,
#thanks-msg,
#save-play-btn {
    color:#312E50;
    -webkit-text-stroke-width: 1.2px; 
    -webkit-text-stroke-color: #312E50;
    font-family: 'Archivo', sans-serif;
    font-size: 4vh;
    font-style: bold;
    text-align: left;
}

/* #share-social {
    margin: 3vh;
} */

#playlist-wrapper {
    display:block;
    text-align: center;
    margin: 5vh auto;
}

#share-social,
#success-save {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.social_share {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-family: 'Archivo';
    -webkit-text-stroke-width: 0px; 
    -webkit-text-stroke-color: #312E50;
    font-size: 4vh;
    font-style:normal;
}

.thumbnail:hover {
    opacity: 0.8;
    transition: 1s;
    cursor: pointer;
    box-shadow: 0 0 5px #08c;
  }

  .c-network {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .network {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 1.5rem 0.5rem 1.5rem;
  }

  .network:hover:not(:active) {
    opacity: 0.75;
    box-shadow: 5px blue;
  }