* {
    margin: 0;
    padding: 0;
}

#top-tracks {
    background-color:#fffaae;
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    margin-top: -8vh;
}



#overlap-tracks-msg {
    color:#312E50;
    -webkit-text-stroke-width: 1.4px; 
    -webkit-text-stroke-color: #312E50;
    font-family: 'Archivo', sans-serif;
    font-size: 3vh;
    font-style: bold;
    text-align: left;
    margin-left: 3vh;
}

.scrolling-wrapper {
    max-width:100%;
    margin-top: 5vh;
}