* {
    margin: 0;
    padding: 0;
}

#top-tracks {
    background-color: #D0FFD4;
    /* height: 800px; */
    /* width: 100%;
    overflow-y: scroll; */

    max-width: 100%;
    overflow-y: scroll;
    text-align: center;
}

#num-overlap {
    font-size:8vh;
    font-style:bold;
    font-weight:700;
    display:inline; 
    margin-right:1vh;
}

#overlap-tracks-msg {
    color:#312E50;
    -webkit-text-stroke-width: 1.4px; 
    -webkit-text-stroke-color: #312E50;
    font-family: 'Archivo', sans-serif;
    font-size: 3.5vh;
    font-style: bold;
    text-align: left;
    margin: 1vw;
}

#track-artwork {
    width: 150px;
}
#track-name {
    font-size: 20px;
    max-width: 180px;
}

#track-artist {
    font-size: 15px;
}

#one-track {
    /* display: inline-flex; */
    flex-direction: row;
}