* {
    margin: 0;
    padding: 0;
}
#overlap-tracks-msg {
    color:#312E50;
    -webkit-text-stroke-width: 1.4px; 
    -webkit-text-stroke-color: #312E50;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    font-style: bold;
    text-align: left;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 80px;
}

#tracks {
    background-color: #C7CAFF;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#track-artwork {
    width: 150px;
}
#track-name {
    font-size: 20px;
}

#track-artist {
    font-size: 15px;
}

#one-track {
    display: inline-flex;
    flex-direction: row;
}

.scrolling-wrapper {
        max-width:100%;
        margin-left: -20px;
        width: 30em;
        overflow-x: scroll;
        white-space: nowrap;
}

.one-track {
      display: inline-block;
}